<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title> Add Ticket</title>

<style>

    * {background-color: honeydew}

    </style>
</head>
<body style = "background-color: floralwhite;">
<a th:href="@{/}">Home</a>
<br><br><br>
<form th:action="@{'/players/' + ${id} + '/add-ticket'}" method="post">
    <label for="noOne">Number 1</label>
    <input id="noOne" th:name="noOne">
    <br>
    <label for="noTwo">Number 2</label>
    <input id="noTwo" th:name="noTwo">
    <br>
    <label for="noThree">Number 3</label>
    <input id="noThree" th:name="noThree">
    <br>
    <label for="noFour">Number 4</label>
    <input id="noFour" th:name="noFour">
    <br>
    <label for="noFive">Number 5</label>
    <input id="noFive" th:name="noFive">
    <br>
    <label for="noFive">Number 6</label>
    <input id="noSix" th:name="noSix">
    <input type="submit" value="ADD">
</form>
</body>
</html>